<footer class="py-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 ">
                <h5 class="mb-4 fw-bold">Space</h5>
                <p class="small text-light">Exploring the wonders of the universe since 2016. Join our community to stay
                    updated with the latest cosmic discoveries.</p>
            </div>
            <div class="col-md-2 mt-3">
                <h5 class="mb-4 fw-bold">Quick Links</h5>
                <a href="#" class="text-light text-decoration-none small d-block mb-3">Astronaut Training</a>
                <a href="#" class="text-light text-decoration-none small d-block mb-3">Galaxy Search</a>
                <a href="#" class="text-light text-decoration-none small d-block mb-3">Join Mission</a>
            </div>
            <div class="col-md-2 mt-3">
                <h5 class="mb-4 fw-bold">Social Media</h5>
                <a href="#" class="text-light text-decoration-none small d-block mb-3">
                    <i class="fa-brands fa-square-facebook"></i>
                    Facebook
                </a>
                <a href="#" class="text-light text-decoration-none small d-block mb-3">
                    <i class="fa-brands fa-square-linkedin"></i>
                    LinkedIn
                </a>
            </div>
        </div>
        <hr class="mb-4 mt-5 border-secondary">
        <div class="text-center py-3">
            <p class="small text-light">
                © 2026 Copyright: Space
            </p>
        </div>
    </div>
</footer>