<div class="container py-5 text-center mb-5" id="blog">
    <h2 class="fw-bold mb-5">Notes From The Cosmos</h2>
    <div class="row g-4">
        <div class="col-12 col-md-4">
            <div class="c card bg-custom-dark border-0 rounded-4 shadow">
                <img src="./assets/images/card1.svg" class="card-img-top" alt="Constellations">
                <div class="card-body p-4">
                    <p class="small text-secondary mb-2">August 14, 2025 | By SA</p>
                    <h6 class="fw-bold mb-3">
                        Why Astronomy Inspires Future Sky Watchers
                    </h6>
                    <p class="text-secondary small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="c card bg-custom-dark border-0 rounded-4 shadow">
                <img src="./assets/images/card2.svg" class="card-img-top" alt="Constellations">
                <div class="card-body p-4">
                    <p class="small text-secondary mb-2">August 14, 2025 | By SA</p>
                    <h6 class="fw-bold mb-3">
                        Planets Up Close: Meet Our Solar Neighbors
                    </h6>
                    <p class="text-secondary small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="c card bg-custom-dark border-0 rounded-4 shadow">
                <img src="./assets/images/card3.jpg" class="card-img-top" alt="Constellations">
                <div class="card-body p-4">
                    <p class="small text-secondary mb-2">August 14, 2025 | By SA</p>
                    <h6 class="fw-bold mb-3">
                        The Myths Behind Famous Constellations
                    </h6>
                    <p class="text-secondary small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>